
body {
    font-size: 12pt;
}

.index-blogpost-title {
    padding-top: 30px;
    padding-bottom: 0;
    font-size: 28pt;
}

.index-blogpost-title a {
    color: black;
}

.blogpost-detail-title {
    font-size: 30pt;
}

.blogpost-content {
    font-size: 14pt;
    padding-bottom: 10px;
}

.blog-pagination {
    font-size: 16pt;
    padding-bottom: 100px;
}

.blog-pagination .btn {
    margin-right: 15px;
}

.blog-pagination .pagination-glyph {
    padding-right: 10px;
}
