{% extends "blog/base.html" %}


{% block left_content %}
<ul>
{% for year, year_dic in archive.items %}
    <li> {{ year }}
        <ul>
        {% for month, month_dic in year_dic.items %}
            <li> {{ month }}
                <ul>
                {% for day, blogposts in month_dic.items %}
                    {% for blogpost in blogposts %}
                        <li>
                            <a href="{% url "blog:blogpost" blogpost.slug %}"> {{ blogpost.title }} </a>
                            <i> - {{ blogpost.posted_at }}</i>
                        </li>
                    {% endfor %}
                {% endfor %} {# End iterating month_dic #}
                </ul>
            </li>
        {% endfor %} {# End iterating year_dic #}
        </ul>
    </li>
{% endfor %} {# End iterating archive #}
</ul>
{% endblock left_content %}