{% extends "blog/base.html" %}
{% load disqus_tags %}

{% block left_content %}
    <div class="text-center">
        <div class="blogpost-detail-title">
            {{ blogpost.title }}
        </div>

        <i>{{ blogpost.posted_at }}
        {% if blogpost.is_edited %}
                - last edited on {{ blogpost.edited_at }}
        {% endif %}
        </i>
    </div>
    <br>
    <br>

    <div class="blogpost-content">
        {{ blogpost.html_content | safe }}
    </div>
    <br>
    <hr>

    {% url "blog:blogpost" blogpost.slug as blogpost_url %}
    {% set_disqus_title blogpost.title %}
    {% set_disqus_url "http://" site blogpost_url %}
    {% set_disqus_identifier blogpost.slug %}
    {% disqus_show_comments %}

{% endblock left_content %}