{% extends "blog/base.html" %}
{% load disqus_tags %}

{% block left_content %}
    <div class="text-center">
        <h1>{{ blogpost.title }}</h1>
        <i>{{ blogpost.posted_at }}
        {% if blogpost.is_edited %}
                - last edited at {{ blogpost.edited_at }}
        {% endif %}
        </i>
    </div>
    <br>
    <br>
    {{ blogpost.html_content | safe }}
    <br>
    <hr>

    {% url "blog:blogpost" blogpost.slug as blogpost_url %}
    {% set_disqus_url "http://" site blogpost_url %}
    {% disqus_show_comments %}

{% endblock left_content %}