{% extends "blog/base.html" %}


{% block left_content %}
    {% for blogpost in object_list %}
        <h1>{{ blogpost.title }}</h1>
        <i>{{ blogpost.posted_at }}
            {% if blogpost.is_edited %}
                - last edited at {{ blogpost.edited_at }}
            {% endif %}
        </i>
        <br>
        <br>
        {{ blogpost.html_content | safe | truncatewords:100 }}
        <br>
        <div class="pull-right">
            <a href="{% url "blog:blogpost" blogpost.slug %}" class="btn btn-default">More</a>
        </div>
        <br>
        <hr>
    {% endfor %}
{% endblock left_content %}