{% extends "blog/base.html" %}

{% load disqus_tags %}
{% load mathfilters %}

{% block left_content %}
    {% for blogpost in object_list %}
        <div class="index-blogpost-title">
            <a href="{% url "blog:blogpost" blogpost.slug %}">{{ blogpost.title }}</a>
        </div>
        <hr>

        <i>Posted on: {{ blogpost.posted_at }}
            {% if blogpost.is_edited %}
                - last edited on {{ blogpost.edited_at }}
            {% endif %}
        </i>
        &nbsp;&nbsp;&nbsp;
        Comments:
        <span class="badge">
            <span class="disqus-comment-count" data-disqus-identifier="{{ blogpost.slug }}">0</span>
        </span>
        {% disqus_num_replies %}

        <hr>

        <div class="blogpost-content">
            {{ blogpost.html_content | safe | truncatewords:100 }}
        </div>

        Tags:
        {% for tag in blogpost.tags.all %}
            {{ tag.tag }}{% if not forloop.last %}, {% endif %}
        {% endfor %}

        <br>
        <br>

        <div class="pull-left">
            <a href="{% url "blog:blogpost" blogpost.slug %}" class="btn btn-default">Read more</a>
        </div>

        <br>
        <br>
    {% endfor %}

    <hr>
    <hr>
    <nav class="col-12 blog-pagination text-center">
        <ul class="pager">
            {% if has_newer_posts %}
                <li class="pagination-newer"><a href="{% url "blog:blog_index_page" page|sub:"1" %}"><span aria-hidden="true">&larr;</span> Newer Posts</a></li>
            {% else %}
                <li class="pagination-newer disabled"><a href="#"><span aria-hidden="true">&larr;</span> Newer Posts</a></li>
            {% endif %}

            {% if has_older_posts %}
                <li class="pagination-older"><a href="{% url "blog:blog_index_page" page|add:"1" %}">Older Posts <span aria-hidden="true">&rarr;</span></a></li>
            {% else %}
                <li class="pagination-older disabled"><a href="#">Older Posts <span aria-hidden="true">&rarr;</span></a></li>
            {% endif %}
      </ul>
    </nav>

{% endblock left_content %}