{% extends "blog/base.html" %}

{% load disqus_tags %}

{% block left_content %}
    {% for blogpost in object_list %}
        <div class="index-blogpost-title">
            <a href="{% url "blog:blogpost" blogpost.slug %}">{{ blogpost.title }}</a>
        </div>
        <hr>

        <i>Posted on: {{ blogpost.posted_at }}
            {% if blogpost.is_edited %}
                - last edited on {{ blogpost.edited_at }}
            {% endif %}
        </i>
        &nbsp;&nbsp;&nbsp;
        Comments:
        <span class="badge">
            <span class="disqus-comment-count" data-disqus-identifier="{{ blogpost.slug }}">
                First article
            </span>
        </span>
        {% disqus_num_replies %}

        <hr>

        <div class="blogpost-content">
            {{ blogpost.html_content | safe | truncatewords:100 }}
        </div>

        <br>

        <div class="pull-left">
            <a href="{% url "blog:blogpost" blogpost.slug %}" class="btn btn-default">Read more</a>
        </div>

        <br>
        <br>
    {% endfor %}
{% endblock left_content %}